CMakeLists.txt.user
CMakeLists_modified.txt

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/
lib/
bin/

cmake_modules/
cmake-build-debug/
cmake-build-release/

*.pyc
*.osa
.idea/
